header h1 {
    border-bottom: 3px solid gray;
    padding: 25px;
    margin: 0px;
}

nav {
    border-right: 3px solid gray;
    width: 200px;
    height: 600px;
    float: left;
}

nav ol {
    list-style: none;
}

article {
    float: left;
    padding-left: 20px;
}

article h2 {
    color: teal;
    font-size: 30px;
}

article strong {
    color: darkcyan
}